
.lore {
    margin-top: 25px;
    font-size: 14px;
    color: #bbb;
    font-family: "Noto Serif SC", serif;
}

.desc {
    font-family: "Noto Serif SC", serif;
    font-size: 12px;
}

.atom {
    display: block;
    border: 1px solid #111111;
    min-width: 4px;
}


.flex {
    width: 46px;
    height: 46px;
    padding: 4px;
    margin-right: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
}

.axis {
    width: 46px;
    height: 46px;
    padding: 4px;
    margin-right: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.header {
    font-size: 16px;
}

.code {
    font-size: 12px;
}

.blocks {
    width: 400px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

