.main {
    height: 100vh;

    color: #fff;
    font-family: "Inconsolata", monospace;
    padding: 4rem;
}
.sets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.set {
    /*border: 1px solid #fff*/
}
.header {
    font-size: 16px
}

.lore {
    margin-top: 25px;
    font-size: 12px;
}

.sections {

}

.atom {
    display: block;
    border: 1px solid #111111;
}

.grid {
    width: 46px;
    height: 46px;
    padding: 4px;
    margin-right: 16px;
    border: 1px solid rgba(255,255,255,0.2);
    display: grid;
}

.header {
    font-size: 12px;

    font-family: "Inconsolata",monospace;
}

.blocks {
    width: 400px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}